html {
  font-size: 14px;
}

body {
  font-family: 'Avenir Next', 'Lato', sans-serif;
  background: #1b1b1b;
}

.fancy-font {
  font-family: 'Fascinate Inline', cursive;
}

.h1, h1 {
  font-size: 5rem;
  font-weight: 500;
}

.h2, h2 {
  font-weight: 500;
}

.block {
  color: #fff;
  font-size: 1.5rem;
}

.block:not(:first-child){
  padding-top: 50px;
}

legend {
  color: #eee;
}

.form-control, .btn {
  border-radius: 0;
  font-size: 1.3rem;
}

form label {
  font-size: 1.5rem;
}

#home {
  /*background: url(../images/photo-1459789867050-92376a5e7fab.jpg);*/
  /*background-size: cover;*/
}

#name-tag {
  margin-top: 250px;
  text-shadow: 1px 1px 3px #0F1A21;
  color: #FFFFFF;
}

.text-center {
  text-align: center;
}

img.logo {
  width: 128px;
}

.logo-container {
  //background: red;
}
