* {
  box-sizing: border-box;
}

html {
  font-size: 14px;
}

body {
  font-family: 'Avenir Next', 'Lato', sans-serif;
  color: #222;
  background: #fff;
  margin: 0;
  padding: 0;
}

.fancy-font {
  font-family: 'Fascinate Inline', cursive;
}

.h1, h1 {
  font-size: 5rem;
  font-weight: 500;
}

.h2, h2 {
  font-weight: 500;
}

legend {
  color: #eee;
}

.form-control, .btn {
  border-radius: 0;
  font-size: 1.3rem;
}

form label {
  font-size: 1.5rem;
}

.text-center {
  text-align: center;
}

img.logo {
  width: 128px;
}

/* Image gallery stuff */
header {
  margin-bottom: 50px;
}

#logo {
  font-size: 1.7rem;
  font-weight: 600;
}

#canvas {
  width: 1200px;
  margin: 0px auto;
  padding-top: 75px;
}

#gallery {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.image-container {
  width: 380px;
  margin-bottom: 30px;
  /* gallery width is 1200px. With (380 * 3)px for image containers.
   * this creates 3 columns of image with equal spacing (30px) in between
   * each image
   */
}

img.image-thumb {
  width: 100%;
}

footer {
  margin-top: 50px;
}
