* {
  box-sizing: border-box;
}

.light {
  --text-color: #222;
  --bg-color: #fff;
  --accent-color: #2196f3;
}

.dark {
  --text-color: #fff;
  --bg-color: #222831;
  --accent-color: #efbb35;
}

a {
  color: var(--text-color);
}

a.link,
button {
  color: var(--accent-color);
  padding: 3px 5px;
  font-size: 0.75rem;
  text-decoration: none;
  text-transform: uppercase;
  cursor: pointer;
  border: 0 none;
  background: transparent;
}

:focus {
  outline: none;
}

html {
  font-size: 14px;
}

body {
  font-family: 'Avenir Next', 'Lato', sans-serif;
  margin: 0;
  padding: 0;
}

#main {
  color: var(--text-color);
  background: var(--bg-color);
}

.fancy-font {
  font-family: 'Fascinate Inline', cursive;
}

.h1,
h1 {
  font-size: 1.7rem;
  font-weight: 500;
}

.first-name {
  color: var(--accent-color);
  font-weight: 300;
}

.h2,
h2 {
  font-weight: 500;
}

.form-control,
.btn {
  border-radius: 0;
  font-size: 1.3rem;
}

form label {
  font-size: 1.5rem;
}

.text-center {
  text-align: center;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 50px;
}

header a {
  text-decoration: none;
}

.album-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#logo {
  font-size: 1.7rem;
  font-weight: 600;
}

#canvas {
  max-width: 1200px;
  margin: 0px auto;
  padding: 75px 15px;
}

#album {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.album-link {
  text-decoration: none;
}

.album-link:not(:last-child) {
  margin-right: 40px;
}

.album-link > div {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--bg-color);
  font-size: 2.4rem;
  text-shadow: 0px 0px 2px #383535;
}

#albums {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

footer {
  margin-top: 50px;
  margin-bottom: 50px;
}

/* Spinner */
.sk-cube-grid {
  width: 40px;
  height: 40px;
  margin: 100px auto;
}

.sk-cube-grid .sk-cube {
  width: 33%;
  height: 33%;
  background-color: #333;
  float: left;
  -webkit-animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
  animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
}
.sk-cube-grid .sk-cube1 {
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s;
}
.sk-cube-grid .sk-cube2 {
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s;
}
.sk-cube-grid .sk-cube3 {
  -webkit-animation-delay: 0.4s;
  animation-delay: 0.4s;
}
.sk-cube-grid .sk-cube4 {
  -webkit-animation-delay: 0.1s;
  animation-delay: 0.1s;
}
.sk-cube-grid .sk-cube5 {
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s;
}
.sk-cube-grid .sk-cube6 {
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s;
}
.sk-cube-grid .sk-cube7 {
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
}
.sk-cube-grid .sk-cube8 {
  -webkit-animation-delay: 0.1s;
  animation-delay: 0.1s;
}
.sk-cube-grid .sk-cube9 {
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s;
}

@-webkit-keyframes sk-cubeGridScaleDelay {
  0%,
  70%,
  100% {
    -webkit-transform: scale3D(1, 1, 1);
    transform: scale3D(1, 1, 1);
  }
  35% {
    -webkit-transform: scale3D(0, 0, 1);
    transform: scale3D(0, 0, 1);
  }
}

@keyframes sk-cubeGridScaleDelay {
  0%,
  70%,
  100% {
    -webkit-transform: scale3D(1, 1, 1);
    transform: scale3D(1, 1, 1);
  }
  35% {
    -webkit-transform: scale3D(0, 0, 1);
    transform: scale3D(0, 0, 1);
  }
}
